<style>
    body {

        font-family: Arial;
        background-color: #2b0808;
        color: #fff1e6;
        text-align: center;
        margin: 0;
        padding: 20px;
    }

 p{text-align: center;
}

    h1{text-align: center;

   
        color: #e63946;
        font-family: Georgia;
        font-size: 45px;
        letter-spacing: 2px;
    }

    hr {
        border: 2px solid #c1121f;
    }

    .card {
        background-color: #5c0a0a;
        width: 90%;
        max-width: 500px;
        margin: 25px auto;
        padding: 20px;
        border: 3px dashed #e63946;
        border-radius: 20px;
        box-shadow: 0 5px 20px #120000;
    }

    .card img {
        width: 100%;
        max-width: 450px;
        border-radius: 15px;
        border: 5px solid #f8d7c4;
    }

    audio {
        width: 100%;
        margin-top: 15px;
    }

    .lyrics {
        background-color: #fff1e6;
        color: #3b0909;
        width: 90%;
        max-width: 700px;
        margin: 25px auto;
        padding: 20px;
        border-radius: 15px;
        line-height: 1.7;
        text-align: left;
        border-left: 6px solid #c1121f;
    }

    .lyrics h2 {
        color: #b5121b;
        text-align: center;
        font-family: Georgia;
    }
</style>